JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=3000000
JWT_SECRET=yourLongSecretKeyHere
JWT_ISSUER=formula1
JWT_AUDIENCE=formula1
EMAIL_TOKEN_EXPIRY_DATE=24
PHONE_TOKEN_EXPIRY_DATE=24
MAIL_PASSWORD=pass pass pass pass
MAIL_USERNAME=your.email@example.com
FRONTEND_URL=http://example:3000
PHONE_NUMBER_ID=1111111111111111
META_ACCESS_TOKEN=passYourLongMetaAccessTokenHere
